<div class="container__menu-bar">
    <div class="titleName"><h3>The</h3><span>Blog</span></div>

    <ul>
        <li><img src="/src/assets/img/lkdIcon.svg" alt=""></li>
        <li><a href="https://www.linkedin.com/in/eris-de-almeida-pinheiro-84b552228/" target="_blank"><button>Linkedin</button></a></li>
        <li><span>•</span></li>
        <li><a href="https://github.com/ErisPinheiro" target="_blank"><button>Github</button></a></li>
        <li><span>•</span></li>
        <li><a href="https://www.youtube.com/channel/UC-8t23Wf4DzRAMaq84679GQ" target="_blank"><button>Youtube</button></a></li>

    </ul>
</div>